.thunder {
	animation-name: thunder;
	animation-duration: 0.2s;
	animation-timing-function: linear;
	animation-iteration-count: 2;
	animation-direction: normal;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

@-webkit-keyframes thunder {

	from {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.start {
	animation-name: tbox;
	animation-duration: 4s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

@-webkit-keyframes tbox {

	from {
		background-color: #525252;
	}

	to {
		background-color: #6293e5;
	}
}

.dark {
	animation-name: dark;
	animation-duration: 4s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

@-webkit-keyframes dark {

	from {
		background-color: #6293e5;
	}

	to {
		background-color: #b3b3ff;
	}
}

.darkark {
	animation-name: darkark;
	animation-duration: 4s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

@-webkit-keyframes darkark {

	from {
		background-color: #b3b3ff;
	}

	to {
		background-color:  #737373;
	}
}

.darkarkark {
	animation-name: darkarkark;
	animation-duration: 4s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

@-webkit-keyframes darkarkark {

	from {
		background-color: #737373;
	}

	to {
		background-color:  #4d4d4d;
	}
}

.darkarkarkark {
	animation-name: darkarkarkark;
	animation-duration: 4s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

@-webkit-keyframes darkarkarkark {

	from {
		background-color: #4d4d4d;
	}

	to {
		background-color:  #404040;
	}
}

.darkarkarkarkark {
	animation-name: darkarkarkarkark;
	animation-duration: 4s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

@-webkit-keyframes darkarkarkarkark {

	from {
		background-color: #404040;
	}

	to {
		background-color:  #660000;
	}
}

.darkarkarkarkarkark {
	animation-name: darkarkarkarkarkark;
	animation-duration: 4s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

@-webkit-keyframes darkarkarkarkarkark {

	from {
		background-color: #660000;
	}

	to {
		background-color:  red;
	}
}



#page {
    display: inline-block;
	width: 1280px;
	height: 720px;
    background-image: url("images/3.png");
    background-size: cover;
	background-repeat: no-repeat;
}

#bar {
    width: 0%;
    height: 20px;
    background-color: brown;
    margin-top: 30px;
    border-radius: 15px 15px 15px 0px;
    border: 3px black solid;
}

#post{
    width: 5%;
    height: 0px;
    float: left;
    background-color: brown;
    border: 3px black solid;
}

#ropebox{
    width: 20%;
    height: 500px;
    float: right;
}

#rope{
    height: 30%;
    width: 5px;
    background-color: black;
    margin: 0 auto;
}

#textbox{
    width: 75%;
    height: 100%;
    margin-left: 5%;
    margin-top: 30px;
}

#word {
    font-size: 100px;
    text-align: center;
    margin-left: 5%;
    width: 85%;
	font-weight: bold;
}

#guess {
    font-size: 100px;
    text-align: center;
    color: black;
    margin-left: 5%;
    width: 85%;
}

#wrong {
    font-size: 50px;
    text-align: center;
    margin-left: 5%;
    width: 85%;
    color: black;
}

#highscore {
	font-size: 50px;
    margin-left: 5%;
    color: white;
	position: absolute;
	bottom: 0;
	background-color: black;
	border-radius: 20px;
}

#man{
    height: 70%;
    width: 100%;
    position: relative;
}

#head {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border: 1px black solid;
    margin: 0 auto;
	background-image: url("images/smile.jpg");
	background-size: cover;
}

#body {
    height: 220px;
    width: 120px;
    margin: 0 auto;
}

.limb {
    width: 50px;
    height: 5px;
    background-color: black;
    position: absolute;
}

#larm{
    transform:rotate(30deg);
    top: 20%;
    right: 49%;
}


#rarm{
    transform:rotate(-30deg);
    top: 20%;
    left: 49%;
}

#lleg{
    transform:rotate(-45deg);
    top: 52%;
    right: 45%;
}

#rleg {
    transform:rotate(45deg);
    top: 52%;
    left: 45%;
}

.hangman {
    display: none;
}

.hover {
	cursor: pointer;
	border-radius: 15px 15px 15px 15px;
	border: 5px solid black;
	font-weight: bold;
}
