.start {
	animation-name: tbox;
	animation-duration: 10s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-delay: 0;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

@-webkit-keyframes tbox {

	from {
		background-color: #525252;
	}

	to {
		background-color: #6293e5;
	}
}

.darker {
	animation-name: darker;
	animation-duration: 10s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

@-webkit-keyframes darker {

	from {
		background-color: #6293e5;
	}

	to {
		background-color: grey;
	}
}

#page {
    display: inline-block;
    width: 100%;
    height: 1000px;
    background-image: url("images/3.png");
    background-size: cover;
}

#bar {
    width: 0%;
    height: 20px;
    background-color: brown;
    margin-top: 30px;
    border-radius: 15px 15px 15px 0px;
    border: 3px black solid;
}

#post{
    width: 5%;
    height: 0px;
    float: left;
    background-color: brown;
    border: 3px black solid;
}

#ropebox{
    width: 20%;
    height: 500px;
    float: right;
}

#rope{
    height: 30%;
    width: 5px;
    background-color: black;
    margin: 0 auto;
}

#textbox{
    width: 75%;
    height: 100%;
    margin-left: 5%;
    margin-top: 30px;
}

#word {
    font-size: 100px;
    text-align: center;
    margin-left: 5%;
    width: 85%;
}

#guess {
    font-size: 100px;
    text-align: center;
    color: black;
    margin-left: 5%;
    width: 85%;
}

#wrong {
    font-size: 50px;
    text-align: center;
    margin-left: 5%;
    width: 85%;
    color: black;
}

#man{
    height: 70%;
    width: 100%;
    position: relative;
}

#head {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border-width: 4px;
    border: 3px black solid;
    margin: 0 auto;
}

#body {
    height: 100px;
    width: 5px;
    margin: 0 auto;
    background-color: black;
}

.limb {
    width: 50px;
    height: 5px;
    background-color: black;
    position: absolute;
}

#larm{
    transform:rotate(30deg);
    top: 20%;
    right: 49%;
}


#rarm{
    transform:rotate(-30deg);
    top: 20%;
    left: 49%;
}

#lleg{
    transform:rotate(-45deg);
    top: 52%;
    right: 45%;
}

#rleg {
    transform:rotate(45deg);
    top: 52%;
    left: 45%;
}

.hangman {
    display: none;
}
