.letter {
	display: none;
}

.letterR {
	display: none;
}

.thunder {
	animation-name: thunder;
	animation-duration: 0.2s;
	animation-timing-function: linear;
	animation-iteration-count: 2;
	animation-direction: normal;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

@-webkit-keyframes thunder {

	from {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.start {
	animation-name: tbox;
	animation-duration: 4s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

@-webkit-keyframes tbox {

	from {
		background-color: #525252;
	}

	to {
		background-color: #6293e5;
	}
}

.dark {
	animation-name: dark;
	animation-duration: 4s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

@-webkit-keyframes dark {

	from {
		background-color: #6293e5;
	}

	to {
		background-color: #b3b3ff;
	}
}

.darkark {
	animation-name: darkark;
	animation-duration: 4s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

@-webkit-keyframes darkark {

	from {
		background-color: #b3b3ff;
	}

	to {
		background-color:  #737373;
	}
}

.darkarkark {
	animation-name: darkarkark;
	animation-duration: 4s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

@-webkit-keyframes darkarkark {

	from {
		background-color: #737373;
	}

	to {
		background-color:  #4d4d4d;
	}
}

.darkarkarkark {
	animation-name: darkarkarkark;
	animation-duration: 4s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

@-webkit-keyframes darkarkarkark {

	from {
		background-color: #4d4d4d;
	}

	to {
		background-color:  #404040;
	}
}

.darkarkarkarkark {
	animation-name: darkarkarkarkark;
	animation-duration: 4s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

@-webkit-keyframes darkarkarkarkark {

	from {
		background-color: #404040;
	}

	to {
		background-color:  #660000;
	}
}

.darkarkarkarkarkark {
	animation-name: darkarkarkarkarkark;
	animation-duration: 4s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

@-webkit-keyframes darkarkarkarkarkark {

	from {
		background-color: #660000;
	}

	to {
		background-color:  red;
	}
}



#page {
    display: inline-block;
	width: 1280px;
	height: 720px;
    background-image: url("images/3.png");
    background-size: cover;
	background-repeat: no-repeat;
}

#bar {
    width: 0%;
    height: 20px;
    background-color: #663300;
    margin-top: 30px;
    border-radius: 15px 15px 15px 0px;
    border: 3px black solid;
}

#post{
    width: 5%;
    height: 0px;
    float: left;
    background-color: #663300;
    border: 3px black solid;
}

#ropebox{
    width: 20%;
    height: 500px;
    float: right;
}

#rope{
    height: 30%;
    width: 5px;
    background-color: black;
    margin: 0 auto;
}

#textbox{
    width: 75%;
    height: 100%;
    margin-left: 5%;
    margin-top: 30px;
}

#word {
    font-size: 100px;
    text-align: center;
    margin-left: 5%;
    width: 85%;
	font-weight: bold;
}

#guess {
    font-size: 100px;
    text-align: center;
    color: black;
    margin-left: 5%;
    width: 85%;
}

#wrong {
    font-size: 50px;
    text-align: center;
    margin-left: 5%;
    width: 85%;
    color: black;
}

#highscore {
	font-size: 50px;
    margin-left: 5%;
    color: white;
	position: absolute;
	bottom: 0;
	background-color: black;
	border-radius: 20px;
}

#man {
	margin-top: -25px;
}


.hover {
	cursor: pointer;
	border-radius: 15px 15px 15px 15px;
	border: 5px solid black;
	font-weight: bold;
}

#letterEntry{
	display: none;
}

@media only screen and (max-device-width: 480px) {

	.letter {
		background-color: black;
		border: 2px solid white;
		display: block;
		width : 20px;
		height: 20px;
		position: fixed;
		color: white;
	}

	.letterR {
		background-color: black;
		border: 2px solid white;
		display: block;
		width : 20px;
		height: 20px;
		position: fixed;
		color: white;
		right: 15px;
	}

	#a, #n{
		top: 20px;
	}

	#b, #o{
		top: 50px;
	}

	#c, #p {
		top: 80px;
	}

	#d, #q {
		top: 110px;
	}

	#e, #r {
		top: 140px;
	}

	#f, #s {
		top: 170px;
	}

	#g, #t {
		top: 200px;
	}

	#h, #u {
		top: 230px;
	}

	#i, #v {
		top: 260px;
	}

	#j, #w {
		top: 290px;
	}

	#k, #x {
		top: 320px;
	}

	#l, #y {
		top: 350px;
	}

	#m, #z {
		top: 380px;
	}

	#page {
		width: 100%;
		height: 100%;
		background-size: contain;
		background-position: bottom;
	}

	#bar {
	    width: 0%;
	    height: 10px;
	    background-color: #663300;
	    margin-top: 5px;
	    border-radius: 15px 15px 15px 0px;
	    border: 1px black solid;
	}

	#post{
	    width: 5%;
	    height: 0px;
	    float: left;
	    background-color: #663300;
	    border: 3px black solid;
	}

	#ropebox{
	    width: 80%;
	    height: 450px;
	}

	#rope {
	    height: 20%;
	    width: 5px;
	    background-color: black;
	    margin: 0 auto;
	}

	#textbox {
	    width: 75%;
	    height: 100%;
	    margin-left: 5%;
	    margin-top: 5px;
		position: relative;
		clear: both;
	}

	#word {
	    font-size: 27px;
	    text-align: center;
	    margin-left: 5%;
		color: white;
		margin-top: 35%;
	}

	#guess {
	    font-size: 20px;
	    text-align: center;
	    color: black;
	    margin-left: 5%;
	    width: 85%;
		margin-top: 35%;
	}

	#wrong {
	    font-size: 20px;
	    text-align: center;
	    margin-top: 35%;
	    width: 85%;
		position: absolute;
		top: 10px;
	}

	#highscore {
		font-size: 5px;
	    margin-left: 5%;
	    color: white;
		position: absolute;
		bottom: 0;
		background-color: black;
		border-radius: 2px;
	}
	#post {
		display: none;
	}

}
